@model IEnumerable<ArticleServiceModel>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<div class="row">
    @foreach (var article in Model)
    {
        int lettersToTake = 115;
        if (article.Body.Length <= lettersToTake)
        {
            lettersToTake = article.Body.Length;
        }
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">@article.Category</strong>
                    <h3 class="mb-0">
                        <span>@article.Title</span>
                    </h3>
                    <div class="mb-1 text-muted">@article.PublishedOn.ToLocalTime().ToString("dd MMM, yyyy")</div>
                    <p class="card-text mb-auto">@article.Body.Substring(0, lettersToTake)........</p>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@article.Id">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" data-src="http://holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="@article.ImageUrl" data-holder-rendered="true">
            </div>
        </div>
    }
</div>