@model NewsViewModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/global.css" />

<div class="oleo-font" style="margin-bottom: 30px;">Latest News</div>

<body>
    @{
        var previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }

        var maxPage = Math.Ceiling((double)Model.TotalNews / NewsViewModel.ArticlesPerPage);
    }

    @if (!Model.News.Any())
    {
        <div class="oleo-font" style="margin-bottom: 30px;">There are no News found</div>
    }

    <partial name="_NewsPartial" model="@Model.News" />

    <div class="row mb-5">
        <div class="col-md-6">
            <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
               asp-controller="Home"
               asp-action="News"
               asp-route-currentPage="@previousPage">Previous Page</a>
        </div>

        @{
            var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                         !Model.News.Any();
        }

        <div class="col-md-6">
            <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
               asp-controller="Home"
               asp-action="News"
               asp-route-currentPage="@(Model.CurrentPage + 1)">Next Page</a>
        </div>
    </div>
</body>