@model CompanyDetailsServiceModel

<table class="table table-sm table-striped col-md-12">
    <thead class="bg-primary text-warning freights-head">
        <tr>
            <th class="col-md-2"> </th>
            <th class="col-md-10"> Company information: </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-md-2 freights-bold-right">
                Name:
            </td>
            <td class="col-md-10">
                @Model.Name
            </td>
        </tr>
        <tr>
            <td class="col-md-2 freights-bold-right">
                Vat Number:
            </td>
            <td class="col-md-10">
                @Model.VatNumber
            </td>
        </tr>
        <tr>
            <td class="col-md-2 freights-bold-right">
                Address:
            </td>
            <td class="col-md-10">
                @Model.Address
            </td>
        </tr>
        <tr>
            <td class="col-md-2 freights-bold-right">
                Phone Number:
            </td>
            <td class="col-md-10">
                @Model.PhoneNumber
            </td>
        </tr>
        <tr>
            <td class="col-md-2 freights-bold-right">
                Email:
            </td>
            <td class="col-md-10">
                <a href="mailto:@{@Model.Email}">@Model.Email</a>
            </td>
        </tr>
        <tr>
            <td class="col-md-2 freights-bold-right">
                Manager Name:
            </td>
            <td class="col-md-10">
                <a asp-controller="Catalogue" asp-action="UserDetails" asp-route-id="@Model.ManagerId">
                    @Model.ManagerFullName
                </a>         
            </td>
        </tr>
        <tr>
            <td class="col-md-2 freights-bold-right">
                Country:
            </td>
            <td class="col-md-10">
                @Model.CountryName
            </td>
        </tr>
        <tr>
            <td class="col-md-2 freights-bold-right">
                City:
            </td>
            <td class="col-md-10">
                @Model.CityName
            </td>
        </tr>
        <tr>
            <td class="col-md-2 freights-bold-right">
                Registered on:
            </td>
            <td class="col-md-10">
                @Model.RegisteredOn.ToLocalTime().ToString("dd MMMM, yyyy")
            </td>
        </tr>
        <tr>
            <td class="col-md-2 freights-bold-right">
                Employees:
            </td>
            <td class="col-md-10">
               |@{ foreach(var employee in Model.Employees)
                   {
                      <a asp-controller="Catalogue" asp-action="UserDetails" asp-route-id="@employee.Id">
                          @employee.Name |
                      </a>
                   }
                }
            </td>
        </tr>
        <tr>
            <td class="col-md-2 freights-bold-right">
                Description:
            </td>
            <td class="col-md-10">
                @Model.Description
            </td>
        </tr>
    </tbody>
</table>