@model AllCompaniesQueryModel

@{ ViewBag.Title = " Companies Catalogue "; }

<head>
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/messages.css" />
</head>

<style>
    .table-hover tbody tr:hover td {
        background-color: lightpink;
    }
</style>

@{ var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalCompanies / AllCompaniesQueryModel.CompaniesPerPage); }

<div class="oleo-font" style="margin-bottom: 45px;"> All Companies ( @Model.TotalCompanies )</div>

<form method="get" style="margin-bottom: 45px;">
    <div class="row">
        <div class="form-group col-md-4 mb-0">
            <div class="label-form">Search text:</div>
            <input asp-for="SearchTerm" class="form-control" placeholder="Search text...">
        </div>

        <div class="form-group col-md-4">
            <div class="form-group mb-0">
                <div class="label-form">Search Type:</div>
                <select asp-for="SearchType" class="form-control">
                    <option value="0" selected>Name </option>
                    <option value="1">VatNumber </option>
                    <option value="2">Address </option>
                    <option value="3">PhoneNumber </option>
                    <option value="4">Email </option>
                    <option value="5">Country Name </option>
                    <option value="6">City Name </option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group mb-0">
                <div class="label-form">Sort by:</div>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Company Name &uarr; </option>
                    <option value="1">Company Name &darr; </option>
                    <option value="2">Manager Name &uarr; </option>
                    <option value="3">Manager Name &darr; </option>
                    <option value="4">Registered On &uarr; </option>
                    <option value="5">Registered On &darr; </option>
                </select>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <input type="submit" class="btn steady-btn" value="Search" />
        </div>

    </div>
</form>

<table class="table table-sm table-striped table-hover col-md-10 offset-md-1">
    <thead class="bg-primary text-warning freights-head">
        <tr>
            <th class="col-md-5 ">Company name:</th>
            <th class="col-md-5 text-right">Manager:</th>
            <th class="col-md-2 text-right">Registered on:</th>
        </tr>
    </thead>
    <tbody>
        <partial name="_CompaniesPartial" model="@Model.Companies" />
    </tbody>
</table>

@if (!Model.Companies.Any())
{
<tr>
    <td>
        <div class="oleo-font" style="margin-bottom: 30px;">There are no companies found</div>
    </td>
</tr>}

<div class="row mb-12">
    <div class="col-md-4 offset-md-1">
        <a class="btn float-sm-left @(Model.CurrentPage == 1 ? "disabled" : string.Empty) steady-btn"
           asp-controller="Catalogue"
           asp-action="AllCompanies"
           asp-route-currentPage="@previousPage"
           asp-route-searchType="@Model.SearchType"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">Previous Page</a>
    </div>

    @{ var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                                         !Model.Companies.Any(); }

    <div class="col-md-6">
        <a class="btn float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty) steady-btn"
           asp-controller="Catalogue"
           asp-action="AllCompanies"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-searchType="@Model.SearchType"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">Next Page</a>
    </div>
</div>